@use '../../../../../assets/colors' as *;
@use '../../../../../assets/mixins' as *;

.list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    @include sideMenuBlock;
  }
}
