@use '../../../../assets/mixins' as *;
@use '../../../../assets/colors' as *;

.block {
  display: flex;
  position: fixed;
  bottom: 40px;
  left: 20px;
  
  .container {
    position: relative;
    flex-flow: column nowrap;

    .confirm {
      position: absolute;
      top: 0;
      left: 100%;
      font-size: 16px;
      height: 38px;
      padding: 0 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: max-content;
      background-color: $elementsBackground;
      border: 2px solid $border;
      border-left: 0;

      .buttonContainer {
        display: flex;
        align-items: center;
        height: 100%;
        gap: 20px;
        margin-left: 20px;

        .confirmButton {
          height: 80%;
          padding: 0 12px;
          border: 0;
        }
      }
    }
  }
}

.button {
  @include sideMenuBlock;
  padding: 0;
}

.green {
    color: $success;
}

.red {
  color: $danger;
}
