$background: #0c0c0c;
// $background: #111111;
$active: #FFD700;

$primaryText: #f5f5f5;
$secondaryText: #b0b0b0;
$darkText: #1a1a1a;

$success: #4caf50;
$danger: #e10600;

$disabled: #666666;
$border: #333333; // #2a2a2a

$elementsBackground: #1a1a1a;
$hover: #252525;