$background: #0c0c0c; // #111111
// $background: red; // #111111

$primaryText: #f5f5f5; // white
$secondaryText: #b0b0b0;

$disabled: #666666;
$border: #333333; // #2a2a2a

$elementsBackground: #1a1a1a;
$hover: #252525;