@use '../../assets/colors' as *;

.table {
  background-color: $elementsBackground;
  border-spacing: 0;
  border: 1px solid $border;

  thead {
    font-size: 26px;
    line-height: 30px;
  }

  th, td {
    border: 1px solid $border;
    padding: 12px 16px;
    user-select: none;
  }
}