@use '../../assets/colors' as *;

.block {
  position: relative;
}

.dot {
  position: absolute;
  top: 50%;
  right: -16px;
  transform: translateY(-50%);
  height: 8px;
  width: 8px;
  background-color: rgba($primaryText, 0.6); 
  border-radius: 50%;
  display: inline-block; 
};
